<h1>Hello Again</h1>
<p>product-list works!</p>
<div class="button-setup">
    <div class="button-left">
        <button mat-raised-button (click)="highToLow()" color="primary">Highest to Lowest</button>
    </div>
    <div class="button-right">
        <button mat-raised-button (click)="lowToHigh()" color="accent">Lowest to Highest</button>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price USD</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of products">
            <td>{{ x.name }}</td>
            <td>{{ x.unitPrice | currency:'USD' }}</td>
        </tr>
    </tbody>
</table>