/* p {
    color: royalblue;
    background-color: black;
    margin: 10px;
}

table {
    background-color: lightblue;
    color: darkblue;
    margin: 10px auto auto 150px;
    border: solid red 5px;
}

th {
    border: solid red 2px;
}

td {
    border: solid red 2px;
}

.button-setup {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-left: 26%;
}

.button-left {
    width: 120px;
    margin: 10px;
}

.button-right {
    width: 120px;
    margin: 10px;
} */